
# PlanAhead Generated physical constraints 

NET "addr_sram[19]" LOC = W24;

NET "addr_sram[18]" LOC = W22;
NET "addr_sram[17]" LOC = V23;
NET "addr_sram[16]" LOC = AC23;
NET "addr_sram[15]" LOC = AA23;
NET "addr_sram[14]" LOC = AD22;
NET "addr_sram[13]" LOC = AB22;
NET "addr_sram[12]" LOC = AD21;
NET "addr_sram[11]" LOC = AC20;
NET "addr_sram[10]" LOC = AD20;
NET "addr_sram[9]" LOC = AC19;
NET "addr_sram[8]" LOC = AC16;
NET "addr_sram[7]" LOC = AC15;
NET "addr_sram[6]" LOC = AD15;
NET "addr_sram[5]" LOC = AC14;
NET "addr_sram[4]" LOC = V26;
NET "addr_sram[3]" LOC = V24;
NET "addr_sram[2]" LOC = W26;
NET "addr_sram[1]" LOC = W25;
NET "addr_sram[0]" LOC = Y26;


NET "data_bus[31]" LOC = AE15;
NET "data_bus[30]" LOC = AF15;
NET "data_bus[29]" LOC = AF16;
NET "data_bus[28]" LOC = AE17;
NET "data_bus[27]" LOC = AF17;
NET "data_bus[26]" LOC = AF18;
NET "data_bus[25]" LOC = AE19;
NET "data_bus[24]" LOC = AF19;
NET "data_bus[23]" LOC = AC25;
NET "data_bus[22]" LOC = AD26;
NET "data_bus[21]" LOC = AE26;
NET "data_bus[20]" LOC = AE25;
NET "data_bus[19]" LOC = AF25;
NET "data_bus[18]" LOC = AE24;
NET "data_bus[17]" LOC = AF24;
NET "data_bus[16]" LOC = AE23;
NET "data_bus[15]" LOC = AF20;
NET "data_bus[14]" LOC = AE21;
NET "data_bus[13]" LOC = AF21;
NET "data_bus[12]" LOC = AB17;
NET "data_bus[11]" LOC = AC17;
NET "data_bus[10]" LOC = AD18;
NET "data_bus[9]" LOC = AB18;
NET "data_bus[8]" LOC = AD19;
NET "data_bus[7]" LOC = AB24;
NET "data_bus[6]" LOC = Y22;
NET "data_bus[5]" LOC = AA24;
NET "data_bus[4]" LOC = Y24;
NET "data_bus[3]" LOC = AB26;
NET "data_bus[2]" LOC = AC26;
NET "data_bus[1]" LOC = AD24;
NET "data_bus[0]" LOC = AC24;

NET "ce" LOC = AA26;
NET "oe" LOC = AD17;
NET "we" LOC = AA25;
NET "clk" LOC = U26;
NET "step_clk" LOC = T3;

NET "flash_addr[0]" LOC = G3;
NET "flash_addr[1]" LOC = C8;
NET "flash_addr[2]" LOC = D8;
NET "flash_addr[3]" LOC = D7;
NET "flash_addr[4]" LOC = E8;
NET "flash_addr[5]" LOC = A7;
NET "flash_addr[6]" LOC = C7;
NET "flash_addr[7]" LOC = C6;
NET "flash_addr[8]" LOC = D6;
NET "flash_addr[9]" LOC = A6;
NET "flash_addr[10]" LOC = B6;
NET "flash_addr[11]" LOC = C5;
NET "flash_addr[12]" LOC = E5;
NET "flash_addr[13]" LOC = B4;
NET "flash_addr[14]" LOC = A4;
NET "flash_addr[15]" LOC = C4;
NET "flash_addr[16]" LOC = C3;
NET "flash_addr[17]" LOC = B2;
NET "flash_addr[18]" LOC = A2;
NET "flash_addr[19]" LOC = C2;
NET "flash_addr[20]" LOC = F5;
NET "flash_addr[21]" LOC = D3;
NET "flash_addr[22]" LOC = G5;

NET "flash_data[0]" LOC = G4;
NET "flash_data[1]" LOC = J3;
NET "flash_data[2]" LOC = K3;
NET "flash_data[3]" LOC = K5;
NET "flash_data[4]" LOC = C1;
NET "flash_data[5]" LOC = E2;
NET "flash_data[6]" LOC = F1;
NET "flash_data[7]" LOC = G1;
NET "flash_data[8]" LOC = H3;
NET "flash_data[9]" LOC = J4;
NET "flash_data[10]" LOC = H5;
NET "flash_data[11]" LOC = B1;
NET "flash_data[12]" LOC = D1;
NET "flash_data[13]" LOC = E1;
NET "flash_data[14]" LOC = G2;
NET "flash_data[15]" LOC = H1;

NET "flash_byte_mode" LOC = F3;
NET "flash_ce" LOC = E6;
NET "flash_ce1" LOC = E4;
NET "flash_ce2" LOC = E3;
NET "flash_oe" LOC = J1;
NET "flash_rp" LOC = A5;
NET "flash_vpen" LOC = D5;
NET "flash_we" LOC = K1;

NET "RX" LOC=P24;
NET "TX" LOC=R26;

NET "rst" LOC=T1;
